[Unit]
Description=NSS cache refresh
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/google_oslogin_nss_cache

# No [Install] section - this is controlled by google-oslogin-cache.timer
