
module oslogin 1.0;


require {
	attribute file_type;
	attribute non_security_file_type;
	type http_port_t;
	type sshd_t;
	type sshd_key_t;
	class tcp_socket name_connect;
	class file { create getattr setattr write open read unlink };
	class dir { search write remove_name add_name };
	class fifo_file { getattr open read };
}

#============= types ==============

type google_t;  # defined in oslogin.fc
typeattribute google_t file_type, non_security_file_type;

#============= sshd_t ==============

allow sshd_t google_t:file { create getattr setattr write open read unlink };
allow sshd_t google_t:dir { search write remove_name add_name };
allow sshd_t http_port_t:tcp_socket name_connect;
allow sshd_t sshd_key_t:fifo_file { getattr open read };
